@import "normalize.scss";

@mixin font-lato {
  font-family: "Lato", sans-serif;
}
@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include font-lato;

  color: #414141;
}

.section-inner {
  width: 1180px;
  margin: 0 auto;
}

.section-header {
  color: #ffffff;
  background: url("../img/bg-header.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 39, 41, 0.6);
  }

  &-logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    padding-top: 35px;
  }
  &-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  &-wrapper {
    margin-left: 70px;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      font-weight: bold;
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 16px;
    }
    &__subtitle {
      @include font-montserrat();

      font-size: 18px;
      line-height: 32px;
      width: 80%;
      margin: 0 auto 44px;
    }
    &__form {
      display: flex;

      &-input {
        flex: 1;
        padding-right: 40px;

        input {
          @include font-montserrat;

          border: none;
          background: rgba(255, 255, 255, 0.25);
          color: #ffffff;
          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          outline: none;
          border-radius: 4px;
          width: 100%;

          &::placeholder {
            color: #ffffff;
          }
        }
      }
      &-button {
        button {
          @include font-montserrat;

          font-size: 16px;
          margin: 0;
          padding: 16px 20px;
          border: none;
          outline: none;
          border-radius: 4px;
          background: linear-gradient(to right, #fe985b, #fe4fa7);
          color: #ffffff;
        }
      }
    }
  }
}

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-promo-1 {
  display: flex;

  &__content,
  &__video {
    flex-basis: 50%;
  }

  &__content {
    padding-right: 90px;

    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: 51px;
      margin-bottom: 56px;
    }
    .subtitle {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin-top: 30px;
    }
    .text {
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      color: #6c6c6c;
      margin-top: 14px;
    }
  }
  &__video {
    img {
      width: 100%;
      height: auto;
    }
  }
}
